.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
a:hover{
    color: orange;
}
p{
    color: #555;
}