<div class="card flex justify-content-center mt-4">
    <p-button label="Add New Product" (click)="navigateToAddProduct()"></p-button>
</div>

<div class="card">
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3" >
                 
                </div>
                <div>
                    <h4 class="mb-1">{{ product.productName }}</h4>
                    <h6 class="mt-0 mb-3">{{ '$' + product.productPrice }}</h6>
                   
                    <div class="mt-5 flex align-items-center justify-content-center gap-2">
                    
                </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
